/node_modules
/frontend/node_modules
/backend/node_modules
/.env
/frontend/.env
/backend/.env
/backend/prisma/dev.db
/backend/prisma/prisma/
/backend/prisma/*.db
/backend/prisma/*.db-journal
/dist
/frontend/dist
/backend/dist
.DS_Store

